.btn {
  cursor: pointer;
  font-family: 'Orbitron' , sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: white;
  border: none;
  outline: none;
  white-space: nowrap;
  background: #57B8FF;
  @media (min-width: 320px){
    padding: 10px 15px;
    font-size: 14px;
  }
  @media (min-width: 768px) {
    padding: 10px 15px;
    font-size: 16px;
  }
  @media (min-width: 1024px) {
    padding: 10px 15px;
    font-size: 16px;
  }
  @media (min-width: 1440px) {
    padding: 21px 34px;
    font-size: 18px;
  }
}