.cards {
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 20px;

  img {
    width: 100% !important;
    height: 100% !important;
  }

  .container {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column;
    .title {
      width: 100%;
      white-space: nowrap;
      color: #57B8FF;
      font-family: 'Orbitron' , sans-serif;
      font-style: normal;
      font-weight: 400;
      //font-size: 16px;
      margin-bottom: 8px;
    }
    .text {
      width: 100% !important;
      color: white;
      font-family: 'Orbitron' , sans-serif;
      font-style: normal;
      font-weight: 400;
      //font-size: 23px;
    }
  }
}