.frame_two {
  width: 100%;
  background: #FDD04A;

  .frame_two_container {
    width: 100%;
    padding: 100px 60px;
    text-align: center;
    
    @media (min-width: 320px) {
      padding: 100px 20px;
    }
    
    @media (min-width: 1024px) {
      padding: 100px 20px;
    }

    img {
      width: 250px;
      @media (min-width: 1024px) {
        width: 350px;
      }
    }

    p {
      font-family: 'Orbitron' , sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      margin: 0 auto;
      text-align: center;
      
      @media (min-width: 320px) {
        font-size: 14px;
        width: 80%;
      }

      @media (min-width: 768px) {
        width: 60%;
      }
      
      @media (min-width: 1024px) {
        width: 510px;
      }

    }

    .container_cards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 40px;

      @media (min-width: 320px) {
        justify-content: center;
      }

      .cards {
        @media (min-width: 320px) {
          margin-bottom: 10px;
        }
        @media (min-width: 320px) {
          margin: 20px 10px;
        }
        img {
          width: 200px;
          height: 90px;
        }
      }
    }

  }
}